<link rel="stylesheet" href="/styles/bootstrap.min.css">
<link rel="stylesheet" href="/styles/font-awesome.min.css">
<link rel="stylesheet" href="/styles/style.css">
<link rel="stylesheet" type="text/css" href="/homepage/style.css">
<div ng-app="seotoolApp">
  <div ng-controller="DashboardCtrl" ng-cloak>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar">
            </span>
            <span class="icon-bar">
            </span>
            <span class="icon-bar">
            </span>
          </button>
          <a class="navbar-brand" href="/"> <img src="/images/logo.png"></a> 
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li> <a href="#">Features</a> </li>
            <li> <a href="#">Plans & Pricing</a> </li>
            <li> <a href="#">Compare</a> </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Help <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">FAQ's</a></li>
                <li><a href="#">Video Tutorials</a></li>
                <li><a href="#">Contact Us</a></li>
              </ul>
            </li>
            <li> <a href="/user/login">Log in </a> </li>
            <li class="free-trial-btn">
              <a href="/user/signup"  class='btn btn-warning'>Free Trial </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="banner">
      <div class="bg-color">
        <div class="container">
          <div class="row">
            <div class="banner-text text-center">
              <div class="text-border">
              </div>
              <div class="intro-para text-center quote">
                <p class="big-text">Search Engine Optimization Made Easy </p>
                <p class="small-text">User-friendly analysis and monitoring of your site's SEO</p>
              </div>

              <form class="form-inline" name="webSearchForm">
                
                <div class="form-group" style="width: 90%;margin-bottom:10px;" ng-repeat="search_form in web_search_form">
                  <div class="input-group" style="width: 60%;">
                    <input type="text" class="form-control" ng-model="search_form.value"  placeholder="{{search_form.placeholder}}" required="">

                    <div class="input-group-btn" ng-show="web_search_form.length == $index+1  && is_showKeywordInput">
                      <button type="button" class="btn btn-default plus-btn" ng-click="add_new_search_input($event,search_form.type)">
                        <i class='fa fa-plus'></i>
                      </button>
                    </div>

                    <div class="input-group-btn" ng-show="1 < web_search_form.length && $index >= 1">
                      <button type="button" class="btn btn-default plus-btn" ng-click="remove_search_input($event,search_form)">
                        <i class='fa fa-times'></i>
                      </button>
                    </div>

                    <div class="input-group-btn">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="/images/flags/{{current_language.icon}}"> {{current_language.short_name}} <i class="fa fa-chevron-down"></i>
                      </button>
                      <div class="dropdown-menu dropdown-menu-right">
                        <li>
                          <a class="dropdown-item" ng-click="set_language($event,lang)" href="#" ng-repeat="lang in language_arr"><img src="/images/flags/{{lang.icon}}"> {{lang.name}}</a>
                        </li>
                      </div>
                    </div>
                  </div>
                  <a href="/dashboard/report/{{web_search_form[0].value}}" type="submit" class="btn btn-warning" ng-show="web_search_form.length == 1">Get started now</a>
                </div>

                <a href="/dashboard/report/{{web_search_form[0].value}}" style="width:54%;" type="submit" class="btn btn-warning" ng-show="web_search_form.length > 1">Get started now</a>


              </form>

              <div class='col-md-12'>
                <div style="margin-top:13%;color:gray;margin-bottom: 20px;">
                  <i class='fa fa-chevron-down'></i>
                  <a href="#features" class="mouse-hover" style="color:gray;font-weight:800;">
                    Discover
                  </a>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <section id="work-shop" class="section-padding">
      <div class="container">
        <div class="row" align="center">
          <div class="header-section text-center">
            <h1>See what's inside</h1>
            <hr>
          </div>
          <img src="/images/tool-bar-img.png" style='width:100%;'>
        </div>
      </div>
    </section>

    <section class="introducing-bar" id="features">
      <div class="container" >
        <div class='col-md-12' align="center">
          <video width="80%" controls style='padding: 7px;border: 1px solid #e4e3e3;'>
            <source src="/videos/Introduction_to_Earth Science.mp4" type="video/mp4">
            <source src="mov_bbb.ogg" type="video/ogg">
            Your browser does not support HTML5 video.
          </video>
        </div>

        <div class="col-md-12" align='center' style="color:#000;">
          <h1>Introducing our SEO Webwiz ToolBox</h1>
          <h2> Supercharged analysis & monitoring tools </h2>
        </div>

      </div>
    </section>

    <section class="enterprise-client">
      <div class="container">
        <div class="row">
          <div class='col-md-8 col-md-offset-2'>
            <span class="main-text">SeoTools for Enterprise clients</span>
            <p>&nbsp;</p>
            <span>Go above and beyond conventional marketing with unlimited access to analytical data,
      custom reports and team-based projects </span><br>
            <p>&nbsp;</p>
            <button class="btn btn-default">Learn More</button>
          </div>
        </div>
      </div>
    </section>

    <footer id="footer" class="footer homepage-footer" style="font-wieght:400;">
      <div class="container">
        
        <div class="col-md-12">
          <div class="col-md-4">
            <span style="border:1px solid gray;padding:5px 10px">
              <img src="/images/flags/us.png"> US 
            </span>
            &nbsp;&nbsp;+1-555-914-5282
            <br>
            <br>
            <span>US customers, Toll-Free</span><br>
            <span style="font-size:12px;">
            Lorem ipsum dolor sit amet,<br>
            consectetur adipisicing elit,<br>
            sed do eiusmod tempor incididunt ut labore
            </span>
          </div>

          <div class="col-md-4">
            <span style="border:1px solid gray;padding:5px 10px">
              <img src="/images/flags/uk.png"> UK
            </span>
            &nbsp;&nbsp;0-707-599-8269
            <br>
            <br>
            <span>Europe customers, Toll-Free</span><br>
            <span style="font-size:12px;">
            Lorem ipsum dolor sit amet,<br>
            consectetur adipisicing elit,<br>
            sed do eiusmod tempor incididunt ut labore
            </span>
          </div>
          
          <div class="col-md-4">
            <button class="btn btn-success btn-block" ng-click="show_free_signup_modal($event)">Get started with Seotools!</button>
            <br>
            <div align='center'>
              <a href="">or see our plans & prices</a>
            </div>
          </div>
        </div>

        <p>&nbsp;</p>
        <div class="col-md-12">
          <div class='col-md-12' align='center' style="border:1px solid #4c4c4c;padding:15px;">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, &nbsp;&nbsp;&nbsp; <i class="fa fa-envelop"></i> mail@seotool.com
          </div>
        </div>
        <p>&nbsp;</p>
        
        <div class="col-md-12" align="left">
          <div class="col-md-2 col-sm-4">
            <ul class=''>
              <li><b>SEOTOOLS</b></li>
              <li><a href="">Training & Support</a></li>
              <li><a href="">Blog</a></li>
              <li><a href="">FAQ's</a></li>
              <li><a href="">Resources</a></li>
              <li><a href="">Free Tools</a></li>
            </ul>
          </div>
          <div class="col-md-2 col-sm-4">
            <ul class=''>
              <li><b>HELP</b></li>
              <li><a href="">Affiliates</a></li>
              <li><a href="">TOA</a></li>
            </ul>
          </div>
          <div class="col-md-2 col-sm-4">
            <ul class=''>
              <li><b>COMMUNITY</b></li>
              <li><a href="">Disclaimer</a></li>
              <li><a href="">Contact Info</a></li>
            </ul>
          </div>
          <div class="col-md-2 col-sm-4">
            <ul class=''>
              <li><b>LEGAL INFO</b></li>
              
            </ul>
          </div>
          <div class="col-md-2 col-sm-4">
            <ul class=''>
              <li><b>FOLLOW US</b></li>
              <li><a href=""><i class="fa fa-google-plus"></i> Google plus </a></li>
              <li><a href=""><i class="fa fa-facebook"></i> &nbsp;&nbsp;Facebook </a></li>
              <li><a href=""><i class="fa fa-twitter"></i> &nbsp;Twitter </a></li>
              <li><a href=""><i class="fa fa-linkedin"></i> &nbsp;Linkedin </a></li>
              <li><a href=""><i class="fa fa-pinterest"></i> &nbsp;Pinterest </a></li>
              <li><a href=""><i class="fa fa-youtube"></i> &nbsp;Youtube </a></li>
            </ul>
          </div>
          <div class="col-md-2 col-sm-4">
            <ul class=''>
              <li><b>LANGUAGE</b></li>
              <li><a href="">English</a></li>
              <li><a href="">Español</a></li>
              <li><a href="">Deutsch</a></li>
              <li><a href="">Français</a></li>
              <li><a href="">Italiano</a></li>
              <li><a href="">Português (Brasil)</a></li>
              <li><a href="">Русский</a></li>
            </ul>
          </div>
        </div>

      </div>
      
      <div style='background-color:#000;padding:10px;margin-bottom:-20px;'>
        <div class='container'>
          <span style="font-size:32px;"><b>SEOTOOLS</b></span> &nbsp;&nbsp;&nbsp;
          <span> Seotools © 2008 - 2017 Seotlls. All rights reserved. </span> 
          <span class="pull-right" style="margin-top:15px;"><a href="">Switch to mobile version &nbsp;&nbsp;<i class="fa fa-mobile"></i></a></span>
        </div>
      </div>
    </footer>

    <!-- SIGNUP MODAL -->
    <div class="modal fade" id='signup-modal' tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <div class='row'>
              <div class="col-md-12" align="center">
                <span>
                  <a href="#" ng-click="click_on_login($event,'login')" ng-class="{'active':login_type == 'login'}">Login</a>
                  <a href="#" ng-click="click_on_login($event,'register')" ng-class="{'active':login_type == 'register'}">Register</a>
                </span>
              </div>
              <p>&nbsp;</p>
              <div class='col-md-8 col-md-offset-2'>
                <form name="loginForm">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <input type="email" class="form-control" ng-model="user_form.email" placeholder="Email" required>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" ng-model="user_form.password" placeholder="Password" required>
                  </div>
                  <div class="checkbox">
                    <label ng-show="login_type == 'login'"> <input type="checkbox"> Keep me logged in </label>
                    <p ng-hide="login_type == 'login'">&nbsp;</p>
                  </div>
                  
                  <div align='center'>
                    <button type="submit" ng-show="login_type == 'login'" class="btn btn-warning" ng-disabled="loginForm.$invalid">Log In</button>
                    <button type="submit" ng-show="login_type == 'register'" class="btn btn-warning" ng-disabled="loginForm.$invalid">Create My Account</button>
                    <br> <br>
                    <p ng-show="login_type == 'register'">
                      By clicking on "Create My Account", you are agreeing to our <a href="">Terms of Use</a>.
                    </p>
                  </div>

                </form>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>  
</div>  

<script src="/js/jquery.min.js"></script>
<script src="/js/angular.min.js"></script>
<script src="/js/app.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/homepage/custom.js"></script>
<script src="/echarts/dist/echarts-plain-original.js"></script>
<script src="/echarts/dist/angular-echarts.min.js"></script>
<script src="/js/inc_dashboardController.js"></script>

<style type="text/css">
.modal-body span{
  padding: 12px 50px;
}
.modal-body span a{
  color: #000;
  margin: -5px;
  border-bottom: 1px solid gray;
  padding: 10px 49px;
}
.modal-body span .active{
  border-bottom: 3px solid red;
}
</style>

<script type="text/javascript">
  $('.navbar .dropdown').hover(function() {
    $(this).find('.dropdown-menu').first().stop(true, true).slideDown(150);
  }, function() {
    $(this).find('.dropdown-menu').first().stop(true, true).slideUp(105)
  });
</script>