<section class='content-section' ng-cloak>
	<div class='row'>
    <div class="col-md-12" align='center'>
      <div class="box-shadow">
        <h3>Add domains and monitor their performance</h3>
        
        <form class="form-inline">
          <div class="form-group" style="width:50%;">
            <div class="input-group" style="width:100%;">
              <input type="text" class="form-control" id="exampleInputAmount" placeholder="Please enter domain...">
            </div>
          </div>
          <button type="submit" class="btn btn-success">Add Domain</button>
        </form>
      </div>
    </div>
    <p>&nbsp;</p>
    <div class="col-md-4">
      <div class="box-shadow">
        <p><label>Position Tracking</label></p>
        <div class='responsive'>
          <table class="table table-stripped table-bordered">
            <tr>
              <th>Project Name</th>
              <th>Visibility</th>
              <th>Update</th>
            </tr>
            <tr>
              <td>SEO</td>
              <td>5.9%</td>
              <td>12h</td>
            </tr>
          </table>
        </div>
        <button class='btn btn-primary'>Set up Position Tracking &nbsp;<i class='fa fa-chevron-down'></i></button>
      </div>
    </div>

    <div class="col-md-4">
      <div class="box-shadow">
        <p><label>Site Audit</label></p>
        <div class='responsive'>
          <table class="table table-stripped table-bordered">
            <tr>
              <th>Project Name</th>
              <th>Site Health</th>
              <th>Trend</th>
            </tr>
            <tr>
              <td>SEO2</td>
              <td>80%</td>
              <td>1%</td>
            </tr>
          </table>
        </div>
        <button class='btn btn-primary'>Set up Site Audit &nbsp;<i class='fa fa-chevron-down'></i></button>
      </div>
    </div>

    <div class="col-md-4">
      <div class='box-shadow'>
        <p><label>SEO Ideas</label></p>
        <div class='responsive'>
          <table class="table table-stripped table-bordered">
            <tr>
              <th>Project Name</th>
              <th>Ideas</th>
              <th>Description</th>
            </tr>
            <tr>
              <td>Seo</td>
              <td>25</td>
              <td>for 1 page</td>
            </tr>
          </table>
        </div>
        <button class='btn btn-primary'>Collect SEO Ideas &nbsp;<i class='fa fa-chevron-down'></i></button>
      </div>
    </div>

    <div class="col-md-4">
      <div class='box-shadow'>
        <p><label>Social Media Tools</label></p>
        <div class='responsive'>
         <p>Connect with Facebook</p>
        </div>
        <button class='btn btn-primary'>Collect SEO Ideas &nbsp;<i class='fa fa-chevron-down'></i></button>
      </div>
    </div>

	</div>
</section>

<style type="text/css">
  .box-shadow{
    border: 1px solid #e2e2e2;
    padding: 15px;
    box-shadow: 0px 0px 5px #bdbdbd;
  }
  .col-md-4{
    margin-bottom:20px;
  }
</style>